src/pages/mixins/popup.pug
mixin loginPage
  // login page
  .container
    .logo
      .i
      div.text-center Cервис видеособеседований<br />с человеческим лицом
    p.text-center Расширение Huntica позволяет приглашать кандидатов на интервью прямо из интерфейса HH.ru
    p.text-center(style="margin-bottom: 25px") Чтобы начать работу, необходимо авторизоваться.
    button.btn.m-align-center Авторизоваться

mixin loggedInPage
  // logged in page
  +header
  .container
    .d-flex.justify-center.align-center(style="margin-bottom: 44px")
      img(src="assets/img/hh.svg", alt="hh.ru")
      .plus
      img(src="assets/img/huntica.svg", alt="huntica.online")
    p.text-center Расширение Huntica позволяет приглашать кандидатов на интервью прямо из интерфейса HH.ru
    p.text-center(style="margin-bottom: 0") Перейдите на страницу кандидата и нажмите кнопку «Пригласить на видео-интервью».
  +footer

build/popup.html
<!DOCTYPE html><html lang="ru"><meta charset="utf-8"><title>Huntica</title><link rel="stylesheet" href="assets/css/style.css"><body><div id="hunticaChromeExtension"><div class="wrapper"><!-- login page--><div class="container"><div class="logo"><div class="i"></div><div class="text-center">Cервис видеособеседований<br />с человеческим лицом</div></div><p class="text-center">Расширение Huntica позволяет приглашать кандидатов на интервью прямо из интерфейса HH.ru</p><p class="text-center" style="margin-bottom: 25px">Чтобы начать работу, необходимо авторизоваться.</p><button class="btn m-align-center">Авторизоваться</button></div><!-- logged in page--><header class="d-flex justify-start align-center"><div class="logo"><img src="assets/img/toyota.png" alt="ООО Toyota Motor Co., Ltd."/></div><div class="title"><div class="name">Александр Шереметьев-Пушкин</div><div class="company">ООО Toyota Motor Co., Ltd.</div></div><div class="logout to-right"></div></header><div class="container"><div class="d-flex justify-center align-center" style="margin-bottom: 44px"><img src="assets/img/hh.svg" alt="hh.ru"/><div class="plus"></div><img src="assets/img/huntica.svg" alt="huntica.online"/></div><p class="text-center">Расширение Huntica позволяет приглашать кандидатов на интервью прямо из интерфейса HH.ru</p><p class="text-center" style="margin-bottom: 0">Перейдите на страницу кандидата и нажмите кнопку «Пригласить на видео-интервью».</p></div><footer class="d-flex align-center"><div class="logo"></div><div class="slogan">Cервис видеособеседований<br />с человеческим лицом</div></footer></div></div></body></html>
