src/pages/inject.pug
mixin header
  header.d-flex.justify-start.align-center
    .logo
      img(src="assets/img/toyota.png", alt="ООО Toyota Motor Co., Ltd.")
    .title
      .name Александр Шереметьев-Пушкин
      .company ООО Toyota Motor Co., Ltd.
    .logout.to-right

mixin footer
  footer.d-flex.align-center
    .logo
    .slogan Cервис видеособеседований<br />с человеческим лицом

mixin blacklist
  .blacklist-popover
    .d-flex
      .logo.mr-8
      .pop-content
        p.mb-7 Чёрный список — сервис, где работодатели могут оставлять положительные и отрицательные отзывы о своих сотрудниках.
        a.itIsLink(href="https://blacked.works", target="_blank") https://blacked.works

mixin star
  svg(width="16", height="15", viewBox="0 0 16 15", fill="none", xmlns="http://www.w3.org/2000/svg").
    <path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#FE8630" />

mixin starDepressed
  svg(width="16", height="15", viewBox="0 0 16 15", fill="none", xmlns="http://www.w3.org/2000/svg").
    <path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#C4C4C4" />

// bar
#hunticaBar
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo.mr-5
              span.text.mr-5
                | Кандидат приглашен в Huntica на
              span.vacaniesListContainer
                span.itIsLink.dashed 2 вакансии
                .arrow-down.d-inline-block
                .vacaniesList
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Консультант по банковским продуктам
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Менеджер по работе с бизнес-клиентами
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
            .right-side.d-flex.justify-end.align-center
              .text Черный список
              .quest
                +blacklist
              .text.mr-5 : 2 отзыва
              span.itIsLink.dashed Получить на почту
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo.mr-5
              span.text.mr-5
                | Кандидат приглашен в Huntica на
              span.vacaniesListContainer
                span.itIsLink.dashed 2 вакансии
                .arrow-down.d-inline-block
                .vacaniesList
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Консультант по банковским продуктам
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Менеджер по работе с бизнес-клиентами
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
            .right-side.d-flex.justify-end.align-center.green
              .mail
              .text Отзывы отправлены на
                span.itIsLink  ivan.davydov@googlemail.com
              .bloko-button.ml-10 Спасибо
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo.mr-5
              span.text.mr-5
                | Кандидат не был приглашен ни на одну вакансию
              span.itIsLink
                span.dashed Пригласить?
            .right-side.d-flex.justify-end.align-center
              .text Черный список
              .quest
                +blacklist
              .text : Нет отзывов
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo-wide.mr-5
              span.text.mr-5
                | — сервис видеособеседований с человеческим лицом
            .right-side.d-flex.justify-end.align-center
              .account
              span.itIsLink Авторизоваться в Huntica &rarr;

// content
#hunticaContent
  .hunticaOverlay
  .hunticaPopup.oAuth.d-flex.flex-column.align-center
    .close
    .logo
      .i
      div.text-center Cервис видеособеседований<br />с человеческим лицом
    img.company-logo.mb-8(src="https://api.huntica.online/storage/companies/12/logos/72b2855c-8995-4dd8-8470-1576de28e72c.png")
    .title.d-flex.flex-column.align-center.mb-15
      .name Александр Шереметьев-Пушкин
      .company ООО Toyota Motor Co., Ltd.
    p.text-center Приложение Huntica Extension запрашивает<br />разрешение на доступ к вашему аккаунту.
    button.btn.mt-17.mb-4 Разрешить
    a.link(href="#") Отмена
  .hunticaPopup
    .close
    // candidate fill form
    .container-sm.fill-form
      .lighttext.mb-7 Заполните информацию о кандидате:
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-lastName") Фамилия:
          i *
        input#hunticaForm-lastName(type="text", placeholder="Фамилия")
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-firstName") Имя:
          i *
        input#hunticaForm-firstName(type="text", placeholder="Имя")
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-phone") Телефон:
          i *
        input#hunticaForm-phone(type="text", placeholder="Телефон")
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-email") Эл. почта:
          i *
        input#hunticaForm-email(type="text", placeholder="Эл. почта")
      .mb-18
      label.d-block.mb-2(for="hunticaForm-vacancy") На вакансию:
      select#hunticaForm-vacancy.mb-7
        option Консультант по банксовским продуктам
      .d-flex.mb-7
        .mail-icon.mr-4
        .label Оповещение будет отправлено<br />на электронную почту кандидата.
      label.checkbox.d-flex.align-center.mb-10(for="hunticaForm-sms")
        input#hunticaForm-sms.mr-4(type="checkbox")
        span Оповестить по SMS
      button.btn Пригласить
    +footer

    // candidate assign
    .container-sm.fill-form
      .lighttext.mb-2 Кандидат:
      b.d-block.mb-12 Коваленко Юлия Александровна
      label.d-block.mb-2(for="hunticaForm-vacancy") На вакансию:
      select#hunticaForm-vacancy.mb-7
        option Консультант по банксовским продуктам
      .d-flex.mb-7
        .mail-icon.mr-4
        .label Оповещение будет отправлено<br />на электронную почту кандидата.
      label.checkbox.d-flex.align-center.mb-10(for="hunticaForm-sms")
        input#hunticaForm-sms.mr-4(type="checkbox")
        span Оповестить по SMS
      button.btn Пригласить
    +footer

    // candidate assign no vacancy
    .container-sm.fill-form
      .lighttext.mb-2 Кандидат:
      b.d-block.mb-12 Коваленко Юлия Александровна
      .lighttext.mt-10.mb-20.w-90.d-inline-block Вы не можете пригласить кандидата, так как у вашей компании нет открытых вакансий.
      button.btn.disabled Создать вакансию
    +footer

    // candidate
    .container-sm.candidate
      .lighttext.mb-2 Кандидат:
      b.d-block.mb-12 Коваленко Юлия Александровна
      .lighttext.mb-4 Приглашен на вакансии:
      hr
      .date.lighttext.mb-4 20.02.2020
      .vacancy.mb-4 Account director / New business director
      .status.green.mb-4 Приглашение отправлено
      hr
      .date.lighttext.mb-4 16.01.2020
      .vacancy.mb-4 Водитель категории B, на автомобиле компании
      .status.red.mb-4 Отказ
      hr.mb-10
      button.btn.mb-4 Пригласить на другую вакансию
    +footer

// blacklist
#hunticaBlackList
  .d-flex.align-center.my-4
    .rate.d-flex.align-center.mr-4
      +star
      +star
      +star
      +star
      +starDepressed
    .lighttext.small.mr-1 Рейтинг в Чёрном списке
    .quest
      +blacklist

build/inject.html
<!-- bar--><div id="hunticaBar"><div class="hunticaBar"><div class="bloko-columns-wrapper"><div class="bloko-column bloko-column_xs-0 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16"><div class="supernova-navi supernova-navi_lvl-1"><div class="d-flex justify-between align-center w-100"><div class="left-side d-flex align-center"><div class="logo mr-5"></div><span class="text mr-5">Кандидат приглашен в Huntica на</span><span class="vacaniesListContainer"><span class="itIsLink dashed">2 вакансии</span><div class="arrow-down d-inline-block"></div><div class="vacaniesList"><div class="item"><div class="d-flex justify-between mb-5"><a class="itIsLink" href="#">Консультант по банковским продуктам</a><div class="arrow-right"></div></div><div class="company lighttext small">ООО Toyota Motor Co., Ltd.</div></div><div class="item"><div class="d-flex justify-between mb-5"><a class="itIsLink" href="#">Менеджер по работе с бизнес-клиентами</a><div class="arrow-right"></div></div><div class="company lighttext small">ООО Toyota Motor Co., Ltd.</div></div></div></span></div><div class="right-side d-flex justify-end align-center"><div class="text">Черный список</div><div class="quest"><div class="blacklist-popover"><div class="d-flex"><div class="logo mr-8"></div><div class="pop-content"><p class="mb-7">Чёрный список — сервис, где работодатели могут оставлять положительные и отрицательные отзывы о своих сотрудниках.</p><a class="itIsLink" href="https://blacked.works" target="_blank">https://blacked.works</a></div></div></div></div><div class="text mr-5">: 2 отзыва</div><span class="itIsLink dashed">Получить на почту</span></div></div></div></div></div></div><div class="hunticaBar"><div class="bloko-columns-wrapper"><div class="bloko-column bloko-column_xs-0 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16"><div class="supernova-navi supernova-navi_lvl-1"><div class="d-flex justify-between align-center w-100"><div class="left-side d-flex align-center"><div class="logo mr-5"></div><span class="text mr-5">Кандидат приглашен в Huntica на</span><span class="vacaniesListContainer"><span class="itIsLink dashed">2 вакансии</span><div class="arrow-down d-inline-block"></div><div class="vacaniesList"><div class="item"><div class="d-flex justify-between mb-5"><a class="itIsLink" href="#">Консультант по банковским продуктам</a><div class="arrow-right"></div></div><div class="company lighttext small">ООО Toyota Motor Co., Ltd.</div></div><div class="item"><div class="d-flex justify-between mb-5"><a class="itIsLink" href="#">Менеджер по работе с бизнес-клиентами</a><div class="arrow-right"></div></div><div class="company lighttext small">ООО Toyota Motor Co., Ltd.</div></div></div></span></div><div class="right-side d-flex justify-end align-center green"><div class="mail"></div><div class="text">Отзывы отправлены на<span class="itIsLink"> ivan.davydov@googlemail.com</span></div><div class="bloko-button ml-10">Спасибо</div></div></div></div></div></div></div><div class="hunticaBar"><div class="bloko-columns-wrapper"><div class="bloko-column bloko-column_xs-0 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16"><div class="supernova-navi supernova-navi_lvl-1"><div class="d-flex justify-between align-center w-100"><div class="left-side d-flex align-center"><div class="logo mr-5"></div><span class="text mr-5">Кандидат не был приглашен ни на одну вакансию</span><span class="itIsLink"><span class="dashed">Пригласить?</span></span></div><div class="right-side d-flex justify-end align-center"><div class="text">Черный список</div><div class="quest"><div class="blacklist-popover"><div class="d-flex"><div class="logo mr-8"></div><div class="pop-content"><p class="mb-7">Чёрный список — сервис, где работодатели могут оставлять положительные и отрицательные отзывы о своих сотрудниках.</p><a class="itIsLink" href="https://blacked.works" target="_blank">https://blacked.works</a></div></div></div></div><div class="text">: Нет отзывов</div></div></div></div></div></div></div><div class="hunticaBar"><div class="bloko-columns-wrapper"><div class="bloko-column bloko-column_xs-0 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16"><div class="supernova-navi supernova-navi_lvl-1"><div class="d-flex justify-between align-center w-100"><div class="left-side d-flex align-center"><div class="logo-wide mr-5"></div><span class="text mr-5">— сервис видеособеседований с человеческим лицом</span></div><div class="right-side d-flex justify-end align-center"><div class="account"></div><span class="itIsLink">Авторизоваться в Huntica &rarr;</span></div></div></div></div></div></div></div><!-- content--><div id="hunticaContent"><div class="hunticaOverlay"></div><div class="hunticaPopup oAuth d-flex flex-column align-center"><div class="close"></div><div class="logo"><div class="i"></div><div class="text-center">Cервис видеособеседований<br />с человеческим лицом</div></div><img class="company-logo mb-8" src="https://api.huntica.online/storage/companies/12/logos/72b2855c-8995-4dd8-8470-1576de28e72c.png"/><div class="title d-flex flex-column align-center mb-15"><div class="name">Александр Шереметьев-Пушкин</div><div class="company">ООО Toyota Motor Co., Ltd.</div></div><p class="text-center">Приложение Huntica Extension запрашивает<br />разрешение на доступ к вашему аккаунту.</p><button class="btn mt-17 mb-4">Разрешить</button><a class="link" href="#">Отмена</a></div><div class="hunticaPopup"><div class="close"></div><!-- candidate fill form--><div class="container-sm fill-form"><div class="lighttext mb-7">Заполните информацию о кандидате:</div><div class="d-flex justify-between align-center mb-5"><label for="hunticaForm-lastName">Фамилия:<i>*</i></label><input id="hunticaForm-lastName" type="text" placeholder="Фамилия"/></div><div class="d-flex justify-between align-center mb-5"><label for="hunticaForm-firstName">Имя:<i>*</i></label><input id="hunticaForm-firstName" type="text" placeholder="Имя"/></div><div class="d-flex justify-between align-center mb-5"><label for="hunticaForm-phone">Телефон:<i>*</i></label><input id="hunticaForm-phone" type="text" placeholder="Телефон"/></div><div class="d-flex justify-between align-center mb-5"><label for="hunticaForm-email">Эл. почта:<i>*</i></label><input id="hunticaForm-email" type="text" placeholder="Эл. почта"/></div><div class="mb-18"></div><label class="d-block mb-2" for="hunticaForm-vacancy">На вакансию:</label><select class="mb-7" id="hunticaForm-vacancy"><option>Консультант по банксовским продуктам</option></select><div class="d-flex mb-7"><div class="mail-icon mr-4"></div><div class="label">Оповещение будет отправлено<br />на электронную почту кандидата.</div></div><label class="checkbox d-flex align-center mb-10" for="hunticaForm-sms"><input class="mr-4" id="hunticaForm-sms" type="checkbox"/><span>Оповестить по SMS</span></label><button class="btn">Пригласить</button></div><footer class="d-flex align-center"><div class="logo"></div><div class="slogan">Cервис видеособеседований<br />с человеческим лицом</div></footer><!-- candidate assign--><div class="container-sm fill-form"><div class="lighttext mb-2">Кандидат:</div><b class="d-block mb-12">Коваленко Юлия Александровна</b><label class="d-block mb-2" for="hunticaForm-vacancy">На вакансию:</label><select class="mb-7" id="hunticaForm-vacancy"><option>Консультант по банксовским продуктам</option></select><div class="d-flex mb-7"><div class="mail-icon mr-4"></div><div class="label">Оповещение будет отправлено<br />на электронную почту кандидата.</div></div><label class="checkbox d-flex align-center mb-10" for="hunticaForm-sms"><input class="mr-4" id="hunticaForm-sms" type="checkbox"/><span>Оповестить по SMS</span></label><button class="btn">Пригласить</button></div><footer class="d-flex align-center"><div class="logo"></div><div class="slogan">Cервис видеособеседований<br />с человеческим лицом</div></footer><!-- candidate assign no vacancy--><div class="container-sm fill-form"><div class="lighttext mb-2">Кандидат:</div><b class="d-block mb-12">Коваленко Юлия Александровна</b><div class="lighttext mt-10 mb-20 w-90 d-inline-block">Вы не можете пригласить кандидата, так как у вашей компании нет открытых вакансий.</div><button class="btn disabled">Создать вакансию</button></div><footer class="d-flex align-center"><div class="logo"></div><div class="slogan">Cервис видеособеседований<br />с человеческим лицом</div></footer><!-- candidate--><div class="container-sm candidate"><div class="lighttext mb-2">Кандидат:</div><b class="d-block mb-12">Коваленко Юлия Александровна</b><div class="lighttext mb-4">Приглашен на вакансии:</div><hr/><div class="date lighttext mb-4">20.02.2020</div><div class="vacancy mb-4">Account director / New business director</div><div class="status green mb-4">Приглашение отправлено</div><hr/><div class="date lighttext mb-4">16.01.2020</div><div class="vacancy mb-4">Водитель категории B, на автомобиле компании</div><div class="status red mb-4">Отказ</div><hr class="mb-10"/><button class="btn mb-4">Пригласить на другую вакансию</button></div><footer class="d-flex align-center"><div class="logo"></div><div class="slogan">Cервис видеособеседований<br />с человеческим лицом</div></footer></div></div><!-- blacklist--><div id="hunticaBlackList"><div class="d-flex align-center my-4"><div class="rate d-flex align-center mr-4"><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#FE8630" />
</svg><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#FE8630" />
</svg><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#FE8630" />
</svg><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#FE8630" />
</svg><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#C4C4C4" />
</svg></div><div class="lighttext small mr-1">Рейтинг в Чёрном списке</div><div class="quest"><div class="blacklist-popover"><div class="d-flex"><div class="logo mr-8"></div><div class="pop-content"><p class="mb-7">Чёрный список — сервис, где работодатели могут оставлять положительные и отрицательные отзывы о своих сотрудниках.</p><a class="itIsLink" href="https://blacked.works" target="_blank">https://blacked.works</a></div></div></div></div></div></div>
